.logo {
    max-width: 228px;
    width: 100%;
     img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
     }

     @media screen and (max-width:900px) {
         max-width: 128px;
     }
}

.drawer-nav-link {
   display: block;
   width: 100%;
   color: inherit;
   text-decoration: none;
}
.drawer-nav-link.active {
   background-color: green;
   color: #fff;

   svg {
      fill: #fff;
   }
}